{{define "/invalid"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="/css/image/icon.png">
  <title>Invalid Poster ID</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/invalid.css">
</head>
<body>
  <div class="box">
    <h1>❌ Invalid Poster ID!</h1>
    <p>You will be redirected to the form shortly...</p>
    <div class="loader"></div>
  </div>
  <script src="/js/invalid.js"></script>
</body>
</html>

{{end}}